/scotpy/env/
/scotpy/.idea/
/scotpy/__pycache__/
/build/
.idea/

cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Makefile
cmake-build-debug/scot
cmake-build-debug/scot.cbp
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-68b18014cfe3ccef1de6.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-da6f05a60e84bec698ce.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-58ce828653fd86a363f1.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-08-23T03-51-52-0867.json
cmake-build-debug/.cmake/api/v1/reply/target-scot-Debug-fd2fab94a1a99515ce42.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-26bbc36e018ab40870fc.json
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.24.1/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.24.1/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.24.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.24.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.24.1/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.24.1/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.24.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.24.1/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.24.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/FindMPI/test_mpi_C.bin
cmake-build-debug/CMakeFiles/FindMPI/test_mpi_CXX.bin
cmake-build-debug/CMakeFiles/FindMPI/test_mpi.cpp
cmake-build-debug/CMakeFiles/scot.dir/build.make
cmake-build-debug/CMakeFiles/scot.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/scot.dir/compiler_depend.make
cmake-build-debug/CMakeFiles/scot.dir/compiler_depend.ts
cmake-build-debug/CMakeFiles/scot.dir/depend.make
cmake-build-debug/CMakeFiles/scot.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/scot.dir/flags.make
cmake-build-debug/CMakeFiles/scot.dir/link.txt
cmake-build-debug/CMakeFiles/scot.dir/progress.make
cmake-build-debug/CMakeFiles/scot.dir/src/scot.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/scot.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Algorithm/Dihoa.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Algorithm/Dihoa.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Algorithm/Dipoa.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Algorithm/Dipoa.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/MIPSolver/MipSolverGurobiMultipleTree.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/MIPSolver/MipSolverGurobiMultipleTree.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/MIPSolver/MipSolverGurobiSingleTree.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/MIPSolver/MipSolverGurobiSingleTree.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Model/LinRegObjectiveFunction.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Model/LinRegObjectiveFunction.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Model/LogRegObjectiveFunction.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Model/LogRegObjectiveFunction.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Model/Model.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Model/Model.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Model/SparsityConstraint.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Model/SparsityConstraint.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/PrimalSolver/DistributedOperatorSplittingEngine.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/PrimalSolver/DistributedOperatorSplittingEngine.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/Iteration.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/Iteration.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/Logger.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/Logger.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/MainSolver.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/MainSolver.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/MessagePassingInterface.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/MessagePassingInterface.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/Report.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/Report.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/Results.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/Results.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/Timer.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/Timer.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/Utils.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Solver/Utils.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskAddDualSolution.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskAddDualSolution.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskAddLinearOuterApproximation.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskAddLinearOuterApproximation.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskAddQuadraticOuterApproximation.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskAddQuadraticOuterApproximation.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskBase.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskBase.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskBcastDualSolution.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskBcastDualSolution.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskCheckDuration.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskCheckDuration.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskCheckHybridEvent.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskCheckHybridEvent.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskCheckSocEvent.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskCheckSocEvent.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskCheckTerminationGap.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskCheckTerminationGap.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskComputeObjectiveGap.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskComputeObjectiveGap.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskCreateMultipleTreeDualProblem.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskCreateMultipleTreeDualProblem.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskDistributedNlpSolution.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskDistributedNlpSolution.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskGatherLocalLinearOuterApproximations.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskGatherLocalLinearOuterApproximations.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskGatherLocalQuadraticOuterApproximations.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskGatherLocalQuadraticOuterApproximations.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskInitializeMultipleTreeDualSolver.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskInitializeMultipleTreeDualSolver.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskInitializeNewIteration.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskInitializeNewIteration.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskInitializeSingleTreeDualSolver.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskInitializeSingleTreeDualSolver.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskManager.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskManager.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskPrintIterationInfo.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskPrintIterationInfo.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskSolveDualProblem.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskSolveDualProblem.cpp.o.d
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskSolveSingleTreeDualProblem.cpp.o
cmake-build-debug/CMakeFiles/scot.dir/src/Tasks/TaskSolveSingleTreeDualProblem.cpp.o.d
cmake-build-debug/Testing/Temporary/LastTest.log
